* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}

@mixin centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.7);
	font-size: 2rem;
	color: white;
	@include centered;
}
body {
	background: cadetblue;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	div {
		margin: 1rem 0;
	}

	.sorting,
	label,
	.input {
		button,
		input,
		select {
			font-size: 1.2rem;
		}
		button {
			margin-left: 1rem;
			padding: 0 1rem;
		}
	}

	input,
	button {
		margin-right: 1rem;
	}
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50vw;
	font-size: 2rem;
	border-radius: 0.5rem;
	background: white;
	margin: 1rem auto;
	padding: 0.4rem 0;
	.todo-item {
		margin: 1rem;
	}
	button {
		display: inline-block;
		margin: 0 0.3rem;
		padding: 0.4rem;
		font-size: 1.1rem;
		// border: none;
		outline: none;
		cursor: pointer;
	}
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}
